/* GENERAL */
:root{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-size: 1.6rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #555;
    padding: 2rem;
}

/* SWITCH ONE with 2 DIVs */

/* hide default checkbox */
#checkbox,
#checkbox2{
    display: none;
}

/* background */
.switch{
    position: relative;
    margin: 2rem;
    width: 10rem;
    height: 5rem;
    background: blue;
    border-radius: 2.5rem;
}

/* moving part */
.slider{
    position: absolute;
    top: .5rem;
    left: .5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: red;
    transition: all .5s;
}

/* movement */
#checkbox:checked ~ .switch > .slider{
    transform: translateX(5rem);
}

/* SWITCH TWO with ::before */

/* hiding on line 27 */

/* background same as switch one (line 28-35) */

.switch2::before{
    content: "";
    position: absolute;
    top: .5rem;
    left: .5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: red;
    transition: all .5s;
}

#checkbox2:checked ~ .switch2::before{
    transform: translateX(5rem);
}